body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("map.jpg");
}

.overlay {
    position: absolute; /* Position the overlay absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire screen */
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent black (adjust the alpha value for the desired opacity) */
    z-index: 1; /* Ensure the overlay appears on top of the background image */
}

.centered-div {
    width: 50%;
    height: 50%;
    background: rgba(240, 240, 240, 0.95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure the overlay appears on top of the background image */
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#quiz-container {
    display: none;
}

#result {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#result-text {
    font-size: 18px;
    font-weight: bold;
}

@keyframes timer {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

#timer-container {
    margin-top: 10px;
}

#timer {
    width: 100%;
    height: 10px;
    background-color: #ddbc21;
    animation: timer 10s linear;
}

.center-button {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(150, 150, 150);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

button:hover {
    background-color: rgb(139, 85, 69);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

li:hover {
    transform: scale(1.05);
}
/*
#news-ticker {
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #ccc;
    padding: 5px;
}

.ulilil {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.lilili {
    display: inline;
    margin-right: 20px;
}
*/